body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    
}
.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.75rem;
}
.main-content{
    background-color: #121212;
   flex: 1;
   border-radius: 1rem;
   overflow: auto;
   padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}
.sidebar .nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    font-size:1rem ;
    padding: 0.5rem 0.75rem;
    
}
#search{
    opacity: 0.6;
}
#search:hover{
    opacity: 1;
}
.nav-option i{
    font-size:1.2rem ;
}
.library{
     background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.6;
}
.library-option img{
    height: 1.25rem;
    width: 1.25rem;
   
    
}
.options:hover{
    opacity: 1;
}
.icons{
    height: 1.25rem;
    display: flex;
}
.icons i{
    margin-right: 1rem;
    opacity: 0.5;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
    
}
.box{
   height: 8rem; 
   background-color: #232323;
   border-radius: 0.75rem;
   margin: 1.75rem 0 0.5rem 0;
   padding: 1rem 1.25rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

}
.fp1{
    font-size: 1rem;
    font-weight: 500;
}
.fp2{
    font-size: 0.75rem;
    opacity: 0.75;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding:0.25rem 1rem ;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0  ;
    z-index: 1;
    
}
.sticky-nav-icons{
   margin-left: 0.75rem;
}
.sticky-nav-icons img{
    background-color: black;
    border-radius: 50%;
    box-shadow: 1rem black;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-nav-options button{
    margin-right: 1rem;
}
.dark-badge{
    background-color: black;
    color: white;
    height: 2.4rem;
}
#user{
    margin-top: 0.5rem;
    margin-right: 2rem;
    scale: 1.8;
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.card{
    background-color: #232323;
    width: 170px;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.card img{
    width: 100%;
    border-radius: 1rem;
}
.card-title{
    font-size: large;
    font-weight: 600;
}
.card-info{
    font-size: small;
    padding: 1rem 0.2rem;
    opacity: 0.75;
}
.cards-container{
    display: flex;
   flex-wrap: wrap;

    

}
.footer{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top:1px solid  white;
    opacity: 0.4;
}
.music-player{
    display: flex;
    align-items: center;
}
 .album{
    width: 25%;
    height: 100%;
   
}
 .player{
    width: 50%;
    height: 100%;
   background-color:black;
}
.controls{
    width: 25%;
    height: 100%;
    
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.player-controls img{
    height: 1rem;
    width: 1rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    opacity: 0.7;
}
#on{
    opacity: 1;
    height: 2rem;
    width: 2rem;
}
.player-controls img:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 80%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height:0.2rem ;
    border-radius: 100px;

}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;

}
.artist .card img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
   
}
 .artist .card {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
     margin-bottom: 2rem;
    
}
 


